<h1>Welcome</h1><br><br>
<h2>Bucketlist:</h2><br><br>

<% @bucketlist.each do |bucketlist_item| %>
	<div>
	<li><a href="/bucketlist/<%= bucketlist_item.id %>"><%= bucketlist_item.item %></a>
	</div>
	<% end %>
<br><br>
<a href="/bucketlist/new">Add an item to your bucketlist</a><br><br>

<a href="/logout">Logout</a>