<h3>Welcome, <%= current_user.username.capitalize %></h3>

<% @bucketlist.each do |bucketlist_item| %>
	<li><%= bucketlist_item.item %><br>
	<%= bucketlist_item.notes %><br><br>
	<% end %>



<a href="/bucketlist/new">Add a new item to your bucketlist</a>