<h1>Add an item to your bucketlist</h1>

<form action="/bucketlist" method="POST"> 
<label>Item:</label><br>
<input type="text" name="item" id="item"><br><br>

<label>Additional notes (optional):</label><br>
<input type="text" name="notes" id="notes"><br><br>
<input type="submit" value="Submit">
</form>