<h1>Welcome! Sign Up Here</h1>

<% if !@errors.empty? %>
	<% @errors.each do |key, value| %>
		<p style="color: red;"><%= @errors[key] %></p>
	<% end %>
<% end %>

<form method="post" action="/signup">
<label>Username:</label>
<input type="text" id="username" name="username"><br><br>
<label>Email:</label>
<input type="text" id="email" name="email"><br><br>
<label>Password:</label>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Submit">

</form>